<div class="margin">
<h1>StarFace</h1>
<p>Where The Stars And The Wannabe Stars Meet To Show Their Pretty, Handsome Faces And Chit Chat About Their Useless ***t!</p>

<%#= render 'layouts/nav' %>
<%#= @time %>
<%# if(current_user) %>
	<%#= current_user.firstname %>
<%# end %>

<%# if logged_in? %>
  <!-- Logged in as:  --><%#= current_user.firstname %> <%#= link_to 'Log Out', logout_path, method: :delete %>
<%# else %>
  <%#= link_to 'Log In', login_path %>
<%# end %>

<%#= link_to "Sign Up", signup_path %>
<div class="index">
<ul>
	<% @users.each do |u| %>
	<li class="list">
		<%= link_to image_tag u.image.url(:thumb)%>
		<%= link_to u.fullname, user_path(u) %>
<!-- 		<%#= u.address %><br>
		<%#= u.city %>, <%#= u.state %>  <%#= u.zip %><br>
		<%#= u.email %><br> -->
		<%#= link_to image_tag u.image.url %>
		
		<br>
		<!-- link_to "more info", user_path(u) -->
		<!-- link_to "edit", edit_user_path(u) -->
	</li>

	<% end %>
</ul>

<br>
<div class="fun">
<%#= link_to "Post", posts_path %>
<%= link_to "Video Tutorial: How to make a full Rails App with One Click!", "http://tinyurl.com/2fcpre6", :target => "_blank" %><br>
<%= link_to "Incredible Fun!", "http://tinyurl.com/oan4ols/", :target => "_blank" %></div>
</div>
<%#= link_to 'Log Out', logout_path, method: :delete %>
<%#= @time %>